@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-3 {
  width: 25%;
}

.col-9 {
  width: 75%;
}

/* ==================== Header [START] ==================== */
header .header-top {
  background-color: #fff;
  padding: 18px 10px;
  display: flex;
  justify-content: space-between;
}

header .header-top .brand img,
header .header-top img {
  height: 120px;
}

header .navbar {
  background-color: #a1acb9;
}

header .navbar .navbar-nav {
  list-style-type: none;
  display: flex;
}

header .navbar .navbar-nav .nav-item .nav-link {
  list-style-type: none;
  display: inline-block;
  padding: 14px 40px;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  border-right: 1px solid #fff;
  transition: 0.3s all;
}

header .navbar .navbar-nav .nav-item .nav-link.active {
  background: linear-gradient(90deg, #76e8d6, #9eade6);
}

header .navbar .navbar-nav .nav-item .nav-link:hover {
  background: linear-gradient(90deg, #76e8d6, #9eade6);
}

/* ==================== Header [END] ==================== */

/* ==================== Banner [START] ==================== */
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: -10px;
}
/* ==================== Banner [END] ==================== */

/* ==================== Main-content [START] ==================== */
.main-content {
  background-color: #fff;
  padding: 10px;
}

.main-content .row {
  margin-inline: -10px;
}

.main-content .col-3,
.main-content .col-9 {
  padding-inline: 10px;
}

.main-content .sidebar {
  background-color: #a7b2be;
  border-radius: 6px 6px 0 0;
  margin-bottom: 20px;
}

.main-content .sidebar .side-bar-header {
  padding: 10px 0px;
}

.main-content .sidebar .side-bar-header h1 {
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.main-content .sidebar .sidebar-bar {
  list-style-type: none;
}

.main-content .sidebar .sidebar-bar .bar-item {
  background-color: #caced4;
  transition: 0.3s all;
}

.main-content .sidebar .sidebar-bar .bar-item .bar-link {
  text-decoration: none;
  display: block;
  padding: 10px 16px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.3s all;
}

.main-content .sidebar .sidebar-bar .bar-item:hover {
  background: linear-gradient(90deg, #76e8d6, #9eade6);
}

.main-content .sidebar .sidebar-bar .bar-item:hover .bar-link {
  transform: translate(9px, 0px);
}

.main-content .content .content-header {
  background-color: #a7b2be;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.main-content .content .content-header h1 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
}

.main-content .content .content-header a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.main-content .content .row {
  margin-inline: 0px;
  margin-bottom: 10px;
}

.main-content .content .col-3 {
  padding-inline: 14px;
}

.main-content .content .card {
  height: 200px;
  border-radius: 6px;
  border: 1px solid #a7b2be;
}

/* ==================== Main-content [END] ==================== */

/* ==================== footer-content [START] ==================== */
.footer-content {
  background-color: #adb7c2;
  text-align: center;
  text-transform: capitalize;
  padding: 40px 0px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
/* ==================== footer-content [END] ==================== */
